* {
    margin: 0;
    padding: 0;
}


ul {
    list-style-type: none;
    background-color: #7285A8;
    width: 100%;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}

ul li {
    float: left;
}

.kontaktright {
    float: right;
    font-size: larger;
    font-weight: bolder;
}

ul li a {
    display: block;
    margin: auto;
    padding: 10px 14px;
    text-decoration: none;
    color: #133360;
}

ul li a:hover {
    background-color: #6b7d9d;
    color: #a8bddb;
    font-size: large;
}

header {
    padding: 2px;
    background-color: #8BB2D9;
    color: #0e223f;
    text-align: center;
}

h1,
h2 {
    padding: 5px;
}


div.maintext {
    background-color: #bdd5f6;
    width: 90%;
    padding: 10px;
    margin: auto;
}

body {
   background-color: #e6f0fe;
  
}

p {
    padding: 20px;
}