* {
    margin: 0;
    padding: 0;
}


 ul {
    list-style-type: none;
    background-color: #7285A8;
    width: 100%;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
 
}

ul li {
    float: left;
}

.kontaktright{
    float: right;
    font-size: larger;
    font-weight: bolder;
}

.kontaktright{
    float: right;
    font-size: larger;
    font-weight: bolder;
}

ul li a {
    display: block;
    margin: auto;
    padding: 10px 14px;
    text-decoration: none;
    color: #133360;
}

ul li a:hover {
    background-color: #6b7d9d;
    color: #a8bddb;
    font-size: large;
}

header {
    padding: 2px;
    background-color: #8BB2D9;
    color: #0e223f;
    text-align: center;
}

h1, h2 {
    padding: 5px;
}

div.content-2026 {
     padding: 10px;
    color: #214f96;
    }

    p{
        padding: 10px;
        text-align: center;
        font-size: x-large;
        font-weight: bold;
    }

div.text-2026{
padding: 15px;
text-align: center;
}

body{
       background-color: #c9e4ff;
}